# Python cache
__pycache__/
*.pyc
*.pyo

# Notebooks
.ipynb_checkpoints/

# Virtual environments
venv/
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Data files
*.csv
*.parquet

# OS files
.DS_Store
Thumbs.db